replicaCount: 2

image:
  repository: myrepo/nodeapp
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: node.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

nameOverride: ""
fullnameOverride: ""
