replicaCount: 2

image:
  repository: myrepo/flaskapp
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

config:
  message: "Hello from Flask app deployed with Helm!"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: flask.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

nameOverride: ""
fullnameOverride: ""
